<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}" />
  <link rel="stylesheet" type="text/css" href="../static/styles.css">
  <title>Mandala Diffusion App</title>
  <style>
    body {
      background-color: rgb(236, 236, 236);
      transition: transform .2s;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <img src="../static/images/logo_small.png" id="logo-icon">
      <a class="navbar-brand" href="#">Mandala Magic</a>
    </div>
  </nav>

  <div class="container" #id="main-content">
    <div class="row" id="main-row">

      <div class="col-lg order-lg-1" id="list-wrap">
        <ul id="list" class="list-group">
          <img src="../static/images/side_mandala.png" id="mandala-bg-img">
          <li class="items item">
            <div class="item-text-wrap">
              <p class="item-text">TIER</p>
            </div>
            <img src="../static/images/animal_bg.png" class="list-img">
          </li>
          <li class="items item">
            <div class="item-text-wrap">
              <p class="item-text">NATUR</p>
            </div>
            <img src="../static/images/nature_bg.png" class="list-img">
          </li>
          <li class="items" id="display">
            <div class="row">
              <button type="button" class="btn btn-lg btn-outline-primary"><img src="../static/images/icons-reset.png" class="icon"></button>
              <button type="button" class="btn btn-lg btn-outline-primary" id="stop" class="icon"><img src="../static/images/icon-stop.png" class="icon"></button>
              <button type="button" class="btn btn-lg btn-outline-primary"><img src="../static/images/icon-submit.png" class="icon"></button>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg order-lg-2 order-first " id="mainImg-wrap">
        <img src="../static/images/01_lion.png" class="slides mainImg sl-active-color hide">
        <img src="../static/images/02_owl.png" class="slides mainImg sl-active-color hide">
        <img src="../static/images/03_fox.png" class="slides mainImg sl-active-color hide">
/images
        <img src="../static/images/04_tree1.png" class="slides mainImg sl-active-color hide">
        <img src="../static/images/04_tree2.png" class="slides mainImg sl-active-color hide">
        <img src="../static/images/04_tree3.png" class="slides mainImg sl-active-color hide">
        <img src="../static/images/init_mandala.png" id="frontImg" class="slides mainImg hide active">
        <div class="btn-wrap" id="arrow-left">
          <img src="../static/images/btn_left.png" class="arrow" onclick="swapImg(1)">
        </div>
        <div class="btn-wrap" id="arrow-right">
          <img src="../static/images/btn_right.png" class="arrow" onclick="swapImg(2)">
        </div>
        <img src="../static/images/fox_bg.png" id="fox-bg-img">
      </div>
    </div>

  </div>
  <div id="footer">
    <p>© 2023 Dominik Geyer, Inc. All rights reserved.</p>
  </div>

  <script src="../static/script.js">
  </script>
</body>

</html